* {
  margin: 0;
  padding: 0;
}
.center-body {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 3000px;
}

.center-body .container-2 {
  overflow: hidden;
  width: 100%;
  padding-top: 104px;
  position: relative;
}

.center-body .div-postproperty {
  background: linear-gradient(
    180deg,
    rgba(163, 218, 255, 0.38) 0%,
    rgba(214, 239, 255, 0.31) 26.23%,
    rgb(240, 249, 255) 93.09%
  );
  border-radius: 0px 0px 38px 38px;
  height: 825px;
  position: absolute;
  top: 0;
  width: 100%;
}

.center-body .div-mainwrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  margin-top: -0.01px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.center-body .div-postproperty-2 {
  background-color: #f4f5f7;
  height: 200px;
  left: 0;
  position: absolute;
  top: 4394px;
  width: 100%;
}

.center-body .div-postproperty-3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-body .overlap-2 {
  height: 740px;
  left: 10%;
  position: absolute;
  top: 0;
  width: 100vw;
}

.center-body .div-display-l-bold {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  max-width: 485px;
  padding: 0.09px 72px 0px 0px;
  position: absolute;
  top: 0;
}

.center-body .sell-or-rent-your {
  color: transparent;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.center-body .span {
  color: #091e42;
}

.center-body .text-wrapper-6 {
  color: #0078db;
}

.center-body .span-postproperty {
  height: 24px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 620px;
}

.center-body .span-postproperty-2 {
  border-bottom-style: solid;
  border-bottom-width: 0.91px;
  border-color: #28ad35;
  border-right-style: solid;
  border-right-width: 0.91px;
  height: 10px;
  left: 4px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  width: 5px;
}

.center-body .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  left: 24px;
  padding: 0px 0px 0.91px;
  position: absolute;
  top: -1px;
}

.center-body .text-wrapper-7 {
  color: #131313;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.center-body .span-postproperty-3 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 620px;
}

.center-body .span-postproperty-4 {
  align-items: flex-start;
  display: inline-flex;
  left: 24px;
  padding: 0px 0px 0.9px;
  position: absolute;
  top: -1px;
}
.center-body .overlap-3 {
  height: 565px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 850px;
}

.center-body .overlap-3-text {
  height: 565px;
  left: 0;
  position: absolute;
  top: 162px;
  width: 850px;
}

.center-body .span-postproperty-5 {
  height: 24px;
  left: 40px;
  position: absolute;
  top: 8px;
  width: 620px;
}

.center-body .span-postproperty-wrapper {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: -5px;
  padding: 1.41px 13.39px 3.97px 0.01px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  width: 24px;
}

.center-body .span-postproperty-6 {
  border-bottom-style: solid;
  border-bottom-width: 0.91px;
  border-color: #28ad35;
  border-right-style: solid;
  border-right-width: 0.91px;
  height: 10px;
  position: relative;
  /* transform: rotate(0deg); */
  width: 5.01px;
  margin-top: 2px;
}

.center-body .overlap-group-2 {
  height: 25px;
  left: 24px;
  position: absolute;
  top: -1px;
  width: 308px;
}

.center-body .span-postproperty-7 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 0px 0.91px;
  position: absolute;
  top: 0;
}

.center-body .span-postproperty-8 {
  align-items: flex-start;
  display: inline-flex;
  left: 296px;
  padding: 2px 0px 0px 3px;
  position: absolute;
  top: 1px;
}

.center-body .text-wrapper-8 {
  color: #0078db;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.center-body .span-postproperty-9 {
  height: 24px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 620px;
}

.center-body .span-postproperty-10 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: -5px;
  padding: 1.41px 13.39px 3.98px 0.01px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  width: 24px;
}

.center-body .span-postproperty-11 {
  border-bottom-style: solid;
  border-bottom-width: 0.91px;
  border-color: #28ad35;
  border-right-style: solid;
  border-right-width: 0.91px;
  height: 9.98px;
  position: relative;
  transform: rotate(45deg);
  width: 5px;
}

.center-body .overlap-4 {
  height: 565px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 100%;
}

.center-body .span-postproperty-12 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  padding: 0px 0px 0.9px;
  position: absolute;
  top: 0;
}

.center-body .span-postproperty-13 {
  align-items: flex-start;
  display: inline-flex;
  left: 318px;
  padding: 2px 0px 0px 3px;
  position: absolute;
  top: 1px;
}

.center-body .desktop-animation {
  background-image: url(https://generation-sessions.s3.amazonaws.com/47fd91ac5243f4715d39a2bd84d1cc10/img/desktop-animation-compress-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 565px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 90%;
}

.center-body .p {
  color: #8993a4;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  left: 40px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 523px;
  white-space: nowrap;
}

.center-body .div-2 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebebeb;
  border-radius: 20px;
  display: inline-flex;
  gap: 3px;
  justify-content: center;
  left: 36.285%;
  padding: 9.9px 9.9px 9.91px 18.91px;
  position: absolute;
  top: 700px;
}

.center-body .div-wrapper-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.center-body .i-icons-common {
  height: 15.99px;
  position: relative;
  width: 15.99px;
}

.center-body .div-3 {
  height: 468px;
  left: 0;
  position: absolute;
  top: 804px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-body .heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7.7px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
}

.center-body .text-wrapper-22 {
  color: #8993a4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.center-body .post-your-property {
  color: #091e42;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.center-body .div-postpropsteps {
  align-items: center;
  justify-content: center;
  display: flex;
  left: 0;
  padding: 0px 0.15px 0px 0px;
  position: absolute;
  top: 136px;
  width: 100%;
}

.center-body .div-4 {
  height: 246.48px;
  position: relative;
  width: 399.95px;
}

.center-body .image-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/47fd91ac5243f4715d39a2bd84d1cc10/img/image-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 48px;
}

.center-body .heading-2 {
  align-items: flex-start;
  display: flex;
  left: 32px;
  padding: 0px 0px 10.98px;
  position: absolute;
  top: 116px;
  width: 336px;
}

.center-body .div-5 {
  color: transparent;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.center-body .div-caption-strong {
  align-items: flex-start;
  display: flex;
  left: 32px;
  position: absolute;
  top: 154px;
  width: 336px;
}

.center-body .text-wrapper-23 {
  color: #42526e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.center-body .image-3 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/47fd91ac5243f4715d39a2bd84d1cc10/img/image-3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 48px;
}

.center-body .image-4 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/47fd91ac5243f4715d39a2bd84d1cc10/img/image-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 48px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 48px;
}

.center-body .button-2 {
  align-items: flex-start;
  background-color: #0078db;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #006ac233;
  display: inline-flex;
  justify-content: center;
  /* left: 44.35%; */
  padding: 7.99px 15.53px 8px 15.73px;
  position: absolute;
  top: 432px;
}

.center-body .text-wrapper-24 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.center-body .div-visitorsbanner {
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #006ac233;
  display: flex;
  flex-direction: column;
  gap: 50.18px;
  /* left: 22vw; */
  padding: 75px 95px;
  position: absolute;
  top: 1650px;
  /* max-width: 805px; */
  width: fit-content;
  margin: -200px auto auto;
}

.div-bannerimage {
  display: flex;
  position: relative;
  top: 1320px;
  justify-content: center;
}
.banner-image {
  width: 100%;
  height: 345px;
}
.center-body .banner-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  height: 80px;
}

.center-body .banner-text {
  color: #091e42;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  width: fit-content;
}

.center-body .div-visitorsbanner-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0.1px 0px 0px;
  position: relative;
  width: 805px;
}

.center-body .div-6 {
  height: 111.96px;
  position: relative;
  width: 268.3px;
}

.center-body .text-wrapper-25 {
  color: #8993a4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.center-body .text-wrapper-26 {
  color: #091e42;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 56px;
  left: 0;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.center-body .text-wrapper-27 {
  color: #42526e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 91px;
  white-space: nowrap;
}

.center-body .div-additional {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 0.15px 0px 0px;
  position: absolute;
  top: 2040px;
  width: 100%;
}

.center-body .text-wrapper-25-a {
  color: #8993a4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 1080px 20.99px 0px;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
}

.center-body .everything-wrapper {
  align-items: flex-start;
  display: inline-flex;
  padding: 0px 579px 20.99px 0px;
  position: absolute;
  top: 15px;
}

.center-body .text-wrapper-28 {
  color: #091e42;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.center-body .div-8 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  padding: 0px 40px 20.99px 0px;
  position: absolute;
  top: 148px;
}

.center-body .you-can-easily-sell-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 9px 15.98px 0px;
  position: relative;
}

.center-body .whether-you-are-an-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 32px 15.98px 0px;
  position: relative;
}

.center-body .element-com-is-one-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 14px 15.98px 0px;
  position: relative;
}

.center-body .button-3 {
  align-items: flex-start;
  background-color: #0078db;
  border-radius: 4px;
  box-shadow: 0px 1px 4px #006ac233;
  display: inline-flex;
  margin: auto;
  padding: 8px 15.53px 7.99px 15.73px;
  position: absolute;
  top: 356px;
}

.center-body .btn-3 {
  padding: 0px 1239px 20.99px 0px;
}

.center-body .faq {
  display: flex;
  justify-content: center;
  height: 750px;
  position: absolute;
  top: 2540px;
  width: 68%;
}
