.faq-post{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1185px;
}

.faq-post .text-wrapper-29 {
  color: #8993a4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
}

.faq-post .heading-frequently {
  color: #091e42;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
}

.all-accordion {
  position: relative;
  margin-top: 15px;
}

.MuiPaper-elevation{
  border: none !important;
  box-shadow: none !important;
}

.faq-post .text-wrapper-30 {
  color: #091e42;
  font-family: "Open Sans", "Helvetica";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  width: fit-content;
}

.faq-post .div-9 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}
