.header {
  align-items: center;
  background-color: #005ca8;
  box-shadow: 0px 3px 8px #006ac233;
  display: flex;
  height: 72px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 72px;
  justify-content: space-between;
  padding: 9.5px 49.99px 9.5px 50px;
  position: relative;
}

.div-component-logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 0px 4.53px;
  position: relative;
}

.link-nnares-logo {
  background-image: url(https://generation-sessions.s3.amazonaws.com/47fd91ac5243f4715d39a2bd84d1cc10/img/link---nnares-logo-white-v2-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 36px;
  position: relative;
  width: 104.99px;
}

.div-component {
  height: 53px;
  position: relative;
  width: 615.67px;
}

.div-hmenu {
  align-items: flex-start;
  display: inline-flex;
  left: 592px;
  opacity: 0.8;
  padding: 0.93px 0px 2.98e-7px;
  position: absolute;
  top: 14px;
}

.div-11 {
  height: 24px;
  position: relative;
  width: 24px;
}

.div-pagecomponent-8 {
  height: 42px;
  left: 528px;
  position: absolute;
  top: 11px;
  width: 40px;
}

.pseudo-4 {
  border-bottom-style: solid;
  border-bottom-width: 1.81px;
  border-color: #ffffff;
  border-right-style: solid;
  border-right-width: 1.81px;
  height: 8px;
  left: 32px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  width: 8px;
}

.i-icon-userwhite {
  height: 24px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 24px;
}

.pseudo-5 {
  background-color: #c41f1f;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 9.62px;
  height: 10px;
  left: 16px;
  position: relative;
  width: 10px;
}

.account-icon{
    font-size: 180%;
    margin-top: -10px;
    margin-left: -4px;
    color: white;
}