.div-bggradientpassword {
    background: linear-gradient(
      180deg,
      rgba(163, 218, 255, 0.38) 0%,
      rgba(214, 239, 255, 0.31) 26.23%,
      rgba(240, 249, 255, 0.837) 93.09%
    );
    border-radius: 0px 0px 38px 38px;
    height: 825px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }